// COLOR VARIABLES
$black: #000;
$white: #ddd;
$primary-orange: #ff4d00;
$secondary-orange: #cc3e00;
$primary-blue: #0062ff;
$secondary-blue: #008ecc;

// RESPONSIVE BREAKPOINTS
$tablet: 48em; // 768px;
$desktop: 90em; // 1440px

// $bp-desktop-max: 100em; // 1600px
// $bp-desktop-big: 90em; // 1440px
// $bp-desktop-wide: 75em; // 1200px
// $bp-desktop-small: 62em; // 992px
// $bp-tablet: 48em; // 768px;
// $bp-mobile: 30em; // 480px;
// $bp-mobile-min: 20em; // 320px;

// FONT VARIABLES
$font-primary: "Fashion Fetish";
$font-display: Geneva, Verdana, sans-serif;
