@import "variables.scss";

@font-face {
    font-family: $font-primary;
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: $font-primary;
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: $font-primary;
    src: url("../fonts/Fashion Fetish Heavy.ttf");
    font-weight: 900;
    font-display: swap;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
    font-weight: 400;

    scroll-behavior: smooth;
    display: grid;
    // justify-content: center;
}

body {
    font-family: $font-primary, $font-display;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.2rem;
    letter-spacing: 0;
}

a,
a:visited {
    text-decoration: none;
}

h1,
h2 {
    font-size: 2.6rem;
    font-weight: 900;
    margin-bottom: 4rem;
}

h3 {
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h4,
h5,
h6 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
}
