@import "../../styles/variables.scss";

.home {
    min-height: 85vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);

    .photo {
        width: 20rem;
        height: 20rem;
        border-radius: 100rem;
        margin-bottom: 4rem;
    }

    .whoiam {
        margin-bottom: 4rem;
        line-height: 4rem;

        @media only screen and (min-width: $tablet) {
            padding: 0 4rem;
            margin-bottom: 2rem;
        }

        @media only screen and (min-width: $desktop) {
            padding: 0 8rem;
        }

        & strong {
            font-weight: 700;
        }
    }

    .contactMe {
        display: flex;
        gap: 2rem;
        padding: 2rem;

        .contactText {
            font-weight: 700;
        }

        .contactIconsContainer {
            display: flex;
            gap: 1rem;
        }

        svg {
            width: 3rem;
            height: 3rem;
        }
    }
}

.dark {
    .whoiam {
        & strong {
            color: $primary-orange;
        }
    }

    .contactMe {
        color: $primary-blue;
        box-shadow: -1px -1px 3px 0px $primary-orange;
    }
}

.light {
    .whoiam {
        & strong {
            color: $primary-blue;
        }
    }

    .contactMe {
        color: $primary-orange;
        box-shadow: -1px -1px 3px 0px $primary-blue;
    }
}
