@import "../../styles/variables.scss";

.home {
    min-height: 85vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);

    & img {
        width: 20rem;
        height: 20rem;
        border-radius: 100rem;
        margin-bottom: 4rem;
    }

    p {
        margin-bottom: 4rem;
        line-height: 4rem;

        @media only screen and (min-width: $tablet) {
            padding: 0 4rem;
            margin-bottom: 2rem;
        }

        @media only screen and (min-width: $desktop) {
            padding: 0 8rem;
        }

        & strong {
            font-weight: 700;
        }
    }
}

.dark {
    p {
        & strong {
            color: $primary-orange;
        }
    }
}

.light {
    p {
        & strong {
            color: $primary-blue;
        }
    }
}
