@use "../../styles/variables" as *;

.resourcesContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .categoryTitle {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 0.12em;
        color: $primary-orange;
        margin-bottom: 0.4rem;
        padding: 0;
    }

    .categoryDesc {
        font-size: 1.4rem;
        margin-bottom: 1.6rem;
        padding: 0;
        opacity: 0.7;
    }
}
