@import "../../styles/variables.scss";

.skillsContent {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 2rem;

    @media only screen and (min-width: $tablet) {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 4rem;
    }

    @media only screen and (min-width: $desktop) {
        grid-template-columns: repeat(5, 1fr);
    }

    div {
        height: 100%;
        min-height: 10rem;
        padding: 1rem;
    }
}

.skillsIcons {
    display: none;

    @media only screen and (min-width: $tablet) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        svg {
            width: 5rem;
            height: 5rem;
        }
    }

    @media only screen and (min-width: $desktop) {
        svg {
            width: 10rem;
            height: 10rem;
        }
    }
}

.dark {
    div {
        box-shadow: -1px -1px 2px 0px $primary-orange;
    }
}

.light {
    div {
        box-shadow: -1px -1px 2px 0px $primary-blue;
    }
}
