@use "styles/variables" as *;

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color $transition-normal, color $transition-normal;
}

.content {
    width: 100%;
    max-width: $content-max-width;
    margin: 0 auto;
    padding: 0 2.4rem;

    & header,
    section {
        padding-top: $section-gap;
    }

    @media only screen and (min-width: $tablet) {
        padding: 0 4.8rem;
    }

    @media only screen and (min-width: $desktop) {
        padding: 0 6.4rem;
    }
}

.dark {
    background-color: $black;
    color: $white-muted;

    & h1 {
        color: $white-pure;
    }

    & h2 {
        color: $primary-orange;
    }

    & h3,
    h4,
    h5,
    h6 {
        color: $white;
    }

    & a {
        color: $primary-orange;

        &:hover {
            color: $secondary-orange;
        }
    }
}

.light {
    background-color: $white-pure;
    color: $gray-dark;

    & h1 {
        color: $black;
    }

    & h2 {
        color: $primary-orange;
    }

    & h3,
    h4,
    h5,
    h6 {
        color: $black;
    }

    & a {
        color: $primary-orange;

        &:hover {
            color: $secondary-orange;
        }
    }
}
