// COLOR VARIABLES
$color-back: black;
$color-text: #dddddd;

$color-primary: #ff4d00;
$color-secondary: #0062ff;
$color-text-dark: #000000;

// FONT VARIABLES
$font-primary: "Fashion Fetish";
$font-display: Geneva, Verdana, sans-serif;

@font-face {
    font-family: $font-primary;
    src: url("src/fonts/Roboto-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: $font-primary;
    src: url("src/fonts/Roboto-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: $font-primary;
    src: url("src/fonts/Fashion Fetish Heavy.ttf");
    font-weight: 900;
    font-display: swap;
}
// RESPONSIVE BREAKPOINTS
// $bp-desktop-max: 100em; // 1600px
// $bp-desktop-big: 90em; // 1440px
// $bp-desktop-wide: 75em; // 1200px
// $bp-desktop-small: 62em; // 992px
// $bp-tablet: 48em; // 768px;
// $bp-mobile: 30em; // 480px;
// $bp-mobile-min: 20em; // 320px;

// @media only screen and (max-width: $bp-desktop-big) {
//     height: 8rem;
// }

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
    font-weight: 400;

    scroll-behavior: smooth;
    display: grid;
    // justify-content: center;
}

body {
    font-family: $font-primary, $font-display;

    background-color: $color-text-dark;
    color: $color-text;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.2rem;
    letter-spacing: 0;
}

a,
a:visited {
    color: $color-secondary;
    text-decoration: none;

    &:hover {
        color: #008ecc;
    }
}

h1,
h2 {
    color: $color-primary;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 4rem;
}

h3,
h4,
h5,
h6 {
    color: $color-primary;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
}
