.menuItem {
    padding: 0 0.3rem;
    cursor: pointer;
    margin-bottom: 1.2rem;
    font-weight: 700;

    @media only screen and (min-width: 768px) {
        display: flex;
        align-items: center;

        padding: 0 0 0 2rem;
        margin: 0;
        line-height: normal;
    }

    & a {
        color: #ddd;
        text-decoration: none;

        &:hover {
            color: #cc3e00;
        }
    }

    svg {
        fill: #ddd;
        width: 2.5rem;
        height: 2.5rem;

        &:hover {
            fill: #cc3e00;
        }
    }
}
