@import "../../styles/variables.scss";

.navContainer {
    position: sticky;
    top: 0;

    width: 100%;
    min-height: 5vh;

    @media only screen and (min-width: $desktop) {
        max-width: 1440px;
    }
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    @media only screen and (min-width: $tablet) {
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    & .menuIcon {
        display: flex;
        align-items: center;
        margin-right: 2rem;
        cursor: pointer;

        @media only screen and (min-width: $tablet) {
            display: none;
        }

        & svg {
            fill: $primary-blue;
            width: 4rem;
            height: 4rem;
        }
    }

    .logotipo {
        display: flex;
        align-items: center;
        // cursor: pointer;

        .isotipo {
            width: 3rem;
            height: 3rem;
        }

        & .title {
            font-size: 2rem;
            font-weight: 900;
        }

        & img {
            margin-right: 0.5rem;
        }
    }
}

.dark {
    background-color: $black;
    color: $white;

    box-shadow: 1px 1px 2px 0px $primary-orange;

    & .menuIcon {
        & svg {
            fill: $primary-blue;
        }
    }

    .logotipo .title {
        color: $primary-orange;
    }
}

.light {
    background-color: $white;
    color: $black;

    box-shadow: 1px 1px 2px 0px $primary-blue;

    & .menuIcon {
        & svg {
            fill: $primary-orange;
        }
    }

    .logotipo .title {
        color: $black;
    }
}
