@import "../../styles/variables.scss";

.portfolioContent {
    ul {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-gap: 2rem;

        @media only screen and (min-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (min-width: $desktop) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    li {
        padding: 1rem;
    }

    .logotipo {
        display: flex;
        align-items: center;
        // cursor: pointer;

        .isotipo {
            width: 3rem;
        }

        & .title {
            font-size: 2rem;
            font-weight: 900;
        }

        & img {
            margin-right: 1rem;
        }
    }
}

.dark {
    li {
        box-shadow: -1px -1px 2px 0px $primary-orange;
    }
}

.light {
    li {
        box-shadow: -1px -1px 2px 0px $primary-blue;
    }
}
