@use "../../../styles/variables" as *;

.cardHeader {
    min-height: 8rem;
    margin-bottom: 1.2rem;

    .title {
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 0.8rem;
    }

    a {
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: 0.02em;
        transition: color $transition-fast;
    }
}
