@import "../../styles/variables.scss";

button {
    width: 15rem;
    height: 5rem;
    cursor: pointer;

    border: 0 solid $black;
    border-radius: 10rem;

    font-size: 2rem;
    font-weight: bold;
    color: $black;

    &.dark {
        background-color: $primary-blue;

        &:hover {
            background-color: $secondary-blue;
        }
    }

    &.light {
        background-color: $primary-orange;

        &:hover {
            background-color: $secondary-orange;
        }
    }
}
